<h2 class="mb-3">Inscription</h2>

<div class="m-auto loading" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<form>
    <div *ngIf="!loading">
        <div class="input-group mb-3">
            <span class="input-group-text" for="lastname">Nom</span>
            <input type="text" class="form-control" id="lastname" placeholder="Doe" aria-label="Nom"
                aria-describedby="lastname" [(ngModel)]="lastname" name="lastname">
            <div class="invalid-feedback">Veuillez entrer un nom valide (sans chiffre).</div>

        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" for="firstname">Prénom</span>
            <input type="text" class="form-control" id="firstname" placeholder="John" aria-label="Prénom"
                aria-describedby="firstname" [(ngModel)]="firstname" name="firstname">
            <div class="invalid-feedback">Veuillez entrer un prénom valide (sans chiffre).</div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" for="email">e-mail</span>
            <input type="email" class="form-control" id="email" placeholder="john@doe.com" aria-label="e-mail"
                aria-describedby="email" [(ngModel)]="email" name="email">
            <div class="invalid-feedback">Veuillez entrer un email valide.</div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" for="password">Mot de passe</span>
            <input type="password" class="form-control" id="password" placeholder="********" aria-label="Mot de passe"
                aria-describedby="password" [(ngModel)]="password" name="password">
            <div class="invalid-feedback">Veuillez entrer un mot de passe valide (Il doit y avoir au moins 6 caractères,
                au moins 1 lettre majuscule, 1 lettre minuscule, 1 chiffre.)</div>
        </div>

        <div class="d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-primary" (click)="signup()" [disabled]="!checkForm()">Envoyer</button>
        </div>

        <div class="alert alert-danger mt-4" role="alert" id="message-alert" *ngIf="errorMessage!=null">
            {{errorMessage}}
        </div>
    </div>
</form>